In [1]:
# Integers
5000

5000

In [2]:
type(5000)

int

In [3]:
2800

2800

In [4]:
type(2800)

int

In [5]:
# Floats
24.3

24.3

In [6]:
type(24.3)

float

In [7]:
# Multiplication
5 * 8

40

In [8]:
# Addition
7 + 9

16

In [9]:
# Subtraction
100 - 88

12

In [10]:
# Division
1000/6

166.66666666666666

In [11]:
# Floor Division
1000//6

166

In [12]:
# Modulo
1000 % 6

4

In [13]:
# BODMAS
10 - 3 / 7 * 8

6.571428571428571

In [14]:
(10 - 3) / (7 * 8)

0.125

In [15]:
# Variable Assignment
age = 24

In [16]:
age

24

In [17]:
age * age

576

In [18]:
age**3

13824

In [19]:
age/6

4.0

In [20]:
height = 56

In [21]:
height

56

In [22]:
age + height

80

In [23]:
age/height

0.42857142857142855

In [24]:
# Text Calculator

basic_salary = 45000.0
furniture_allowance = 34500.3
medical_allowance = 21400.2
housing_allowance = 67890.2
tax_deduction = 0.02 * basic_salary

monthly_salary = basic_salary + furniture_allowance + medical_allowance + housing_allowance - (tax_deduction)

monthly_salary

167890.7

In [25]:
basic_salary = float(input("What is your basic salary? "))
furniture_allowance = float(input("What is your furniture allowance? "))
medical_allowance = float(input("What is your medical allowance? "))
housing_allowance = float(input("What is your housing allowance? "))
tax_deduction = 0.02 * basic_salary

monthly_salary = basic_salary + furniture_allowance + medical_allowance + housing_allowance - (tax_deduction)

monthly_salary

What is your basic salary? 45000.0
What is your furniture allowance? 34500.3
What is your medical allowance? 21400.2
What is your housing allowance? 67890.2

167890.7

In [26]:
full_name = input("What is your full name? ")
basic_salary = float(input("What is your basic salary? "))
furniture_allowance = float(input("What is your furniture allowance? "))
medical_allowance = float(input("What is your medical allowance? "))
housing_allowance = float(input("What is your housing allowance? "))
tax_deduction = 0.02 * basic_salary

monthly_salary = basic_salary + furniture_allowance + medical_allowance + housing_allowance - (tax_deduction)

monthly_salary

print(f"Dear {full_name}, as a staff of 10Alytics, your monthly tax deduction is ${tax_deduction} and your monthly salary is ${monthly_salary}" )

What is your full name? Elon Musk
What is your basic salary? 45000.0
What is your furniture allowance? 34500.3
What is your medical allowance? 21400.2
What is your housing allowance? 67890.2
Dear Elon Musk, as a staff of 10Alytics, your monthly tax deduction is $900.0 and your monthly salary is $167890.7

In [27]:
#Strings

"Hello World"

'Hello World'

In [28]:
type("Hello World")

str

In [29]:
first_name = "Olusegun"
last_name = "Obasanjo"
full_name = first_name + " " + last_name

full_name

'Olusegun Obasanjo'

In [30]:
first_name = str(input("What is your first name? "))
last_name = str(input("What is your last name? "))
full_name = first_name + " " + last_name

full_name

What is your first name? Isaac
What is your last name? Newton

'Isaac  Newton'

In [31]:
#Indexing

full_name = "Olusegun Obasanjo"
full_name

'Olusegun Obasanjo'

In [32]:
full_name[0]

'O'

In [33]:
full_name[4]

'e'

In [34]:
full_name[8]

' '

In [35]:
#Slicing
full_name[0:8]

'Olusegun'

In [36]:
full_name[9:]

'Obasanjo'

In [37]:
num = "123456789"
num

'123456789'

In [38]:
num[1]

'2'

In [39]:
num[2]

'3'

In [40]:
num[0:3]

'123'

In [41]:
#Negative Indexing
num[-2]

'8'

In [42]:
num[-8]

'2'

In [43]:
#Slice Even numbers - Start from 1 to the end and jump two steps
num[1::2]

'2468'

In [44]:
#Slice Odd numbers - Start from 0 to the end and jump two steps
num[0::2]

'13579'

In [45]:
#Print Formatting

# .format....dot format method
# Placeholder method
# f-strings

In [46]:
# dot format

name = "Nnamdi"
age = 43

print("My name is {} and I am {} years old".format(name, age))

My name is Nnamdi and I am 43 years old

In [47]:
#placeholder ---%s, %

name = input("What is your name? ")
age = int(input("How old are you? "))

print("My name is %s and I am %s years old" %(name, age))

What is your name? Isaac Newton
How old are you? 98
My name is Isaac Newton and I am 98 years old

In [48]:
# f-strings

name = input("What is your name? ")
age = int(input("How old are you? "))

print(f"My name is {name} and I am {age} years old")

What is your name? Isaac Newton
How old are you? 98
My name is Isaac Newton and I am 98 years old

In [49]:
#Body Mass Index Calculator

# .format method

full_name = input("What is your full name ")
age = int(input("How old are you? "))
weight = float(input("What is your weight in Kg? "))
height = float(input("What is your height in Metre? "))
bmi = weight/(height*height)
    
print("Hello {}, you are {} years old and your BMI is {}".format(full_name, age, bmi))

What is your full name Temitayo Daramola
How old are you? 45
What is your weight in Kg? 75
What is your height in Metre? 1.75
Hello Temitayo Daramola, you are 45 years old and your BMI is 24.489795918367346

In [50]:
# Placeholder

full_name = input("What is your full name")
age = int(input("How old are you? "))
weight = float(input("What is your weight in Kg? "))
height = float(input("What is your height in Metre? "))
bmi = weight/(height*height)

print("Hello %s, you are %s years old and your BMI is %s" %(full_name, age, bmi))

What is your full nameJose Mourinho
How old are you? 56
What is your weight in Kg? 82
What is your height in Metre? 1.60
Hello Jose Mourinho, you are 56 years old and your BMI is 32.03124999999999

In [51]:
# f-strings

full_name = input("What is your full name")
age = int(input("How old are you? "))
weight = float(input("What is your weight in Kg? "))
height = float(input("What is your height in Metre? "))
bmi = weight/(height*height)

print(f"Hello {full_name}, you are {age} years old and your BMI is {bmi}")

What is your full nameAlex Ferguson
How old are you? 78
What is your weight in Kg? 89
What is your height in Metre? 1.65
Hello Alex Ferguson, you are 78 years old and your BMI is 32.690541781450875

In [52]:
# List...when creating a list, you are using squared brackets

nigeria_states = ["Lagos", "Oyo", "Osun", "Ondo", "Edo"]
nigeria_states

['Lagos', 'Oyo', 'Osun', 'Ondo', 'Edo']

In [53]:
type(nigeria_states)

list

In [54]:
#Indexing and Slicing in List

nigeria_states = ["Lagos", "Oyo", "Osun", "Ondo", "Edo"]
nigeria_states

['Lagos', 'Oyo', 'Osun', 'Ondo', 'Edo']

In [55]:
nigeria_states[1]

'Oyo'

In [56]:
nigeria_states[4]

'Edo'

In [57]:
nigeria_states[0::]

['Lagos', 'Oyo', 'Osun', 'Ondo', 'Edo']

In [58]:
nigeria_states[0::2]

['Lagos', 'Osun', 'Edo']

In [59]:
nigeria_states[1:3]

['Oyo', 'Osun']

In [60]:
# To add additional States to the list

nigeria_states = ["Lagos", "Oyo", "Osun", "Ondo", "Edo"]
nigeria_states.append("Rivers")
nigeria_states

['Lagos', 'Oyo', 'Osun', 'Ondo', 'Edo', 'Rivers']

In [68]:
# To delete a name

nigeria_states = ["Lagos", "Oyo", "Osun", "Ondo", "Edo"]
nigeria_states

['Lagos', 'Oyo', 'Osun', 'Ondo', 'Edo']

In [69]:
nigeria_states.pop()

'Edo'

In [63]:
nigeria_states.pop(2)

'Osun'

In [64]:
nigeria_states = ["Lagos", "Oyo", "Osun", "Ondo", "Edo"]
nigeria_states

['Lagos', 'Oyo', 'Osun', 'Ondo', 'Edo']

In [65]:
nigeria_states.reverse()

In [67]:
names = ["Adeola", 1, "Azeez", 456, "Lagos", "Abuja", 78]
names

['Adeola', 1, 'Azeez', 456, 'Lagos', 'Abuja', 78]

In [81]:
# Dictionaries ............we use the curly brackets {}, and values are in pairs

function = {"key1": "value1", "key2": "value2", "key3": "value3"}
function

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [82]:
type(function)

dict

In [83]:
bio_data = {"Name": "Bill Clinton", "Age": 77, "Marital Status": "Married", "Address": "United States of America"}
bio_data

{'Name': 'Bill Clinton',
 'Age': 77,
 'Marital Status': 'Married',
 'Address': 'United States of America'}

In [84]:
bio_data ["Name"]

'Bill Clinton'

In [86]:
bio_data["Address"]

'United States of America'

In [87]:
# To add another data sets on dictionaries

bio_data["Colour"] = "Black"
bio_data

{'Name': 'Bill Clinton',
 'Age': 77,
 'Marital Status': 'Married',
 'Address': 'United States of America',
 'Colour': 'Black'}

In [89]:
bio_data["Siblings"] = ["John", "Lincoln", "Usman", "Wale"]
bio_data

{'Name': 'Bill Clinton',
 'Age': 77,
 'Marital Status': 'Married',
 'Address': 'United States of America',
 'Colour': 'Black',
 'Siblings': ['John', 'Lincoln', 'Usman', 'Wale']}

In [90]:
bio_data["Siblings"]

['John', 'Lincoln', 'Usman', 'Wale']

In [92]:
bio_data["Siblings"][2]

'Usman'

In [93]:
bio_data["Siblings"][1]

'Lincoln'

In [94]:
# Tuple...A sequence of items that are in order and cannot be modified, they make use of the normal brackets ()

age = [34, 78, 45, 99, 32]
age

[34, 78, 45, 99, 32]

In [102]:
type(age)

list

In [96]:
age[0]

34

In [97]:
age[2]

45

In [99]:
# To replace an item on the list...
age[0] = 32
age

[32, 78, 45, 99, 32]

In [100]:
age[2] = 67
age

[32, 78, 67, 99, 32]

In [107]:
# But for a tuple, you can't replace....for example

data = ("London", "Manchester", 34, "Youth", 48)
data

('London', 'Manchester', 34, 'Youth', 48)

In [108]:
type(data)

tuple

In [109]:
data[1]

'Manchester'

In [110]:
# Replacing a tuple will bring out an error

data[1] = "Canada"

TypeError: 'tuple' object does not support item assignment

In [111]:
# Set - Collection of unique items that are not ordered, they make use of curly brackets

num = {2,4,4,4,4,4,4,4,5,5,5,5,3,3,3,3,3,3,1,1,1,1,1,9,9,9,9,9,9,0,0,0,0,0,}
num

{0, 1, 2, 3, 4, 5, 9}

In [112]:
names = ["Wilson", "Godfrey", "Jackson", "Obama", "Wilson", "Wilson", "Jackson", "Jackson"]
names

['Wilson',
 'Godfrey',
 'Jackson',
 'Obama',
 'Wilson',
 'Wilson',
 'Jackson',
 'Jackson']

In [115]:
set(names)

{'Godfrey', 'Jackson', 'Obama', 'Wilson'}

In [120]:
names = {'Godfrey', 'Jackson', 'Obama', 'Wilson'}
names.add("Lucky")
names

{'Godfrey', 'Jackson', 'Lucky', 'Obama', 'Wilson'}

In [122]:
names.add("Obama")
names

{'Godfrey', 'Jackson', 'Lucky', 'Obama', 'Wilson'}

In [123]:
names.add("Bobby")
names

{'Bobby', 'Godfrey', 'Jackson', 'Lucky', 'Obama', 'Wilson'}

In [124]:
# Boolean....True or False

1 == 1

True

In [125]:
1 == 7

False

In [126]:
"Temitayo" == "Temitayo"

True

In [127]:
"Temitayo" == "temitayo"

False

In [128]:
100 < 45

False

In [129]:
2000 > 345

True

In [130]:
a = 2000 > 345
a

True

In [131]:
type(a)

bool